@use '../../app/' as colors;

.wrapper {
  padding-left: 80px;

  & .info {
    min-height: calc(100vh - 92px);
    // height: calc(100vh - 92px);
    background-color: colors.$light-gray;
    padding: 34px;
  }
}