@use "../../../app" as styles;

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;

  & .date {
    display: flex;
    align-items: baseline;
  
    & .today {
      @include styles.style-text(20px, 600, styles.$green);
      margin-right: 10px;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
  }

  & .share {
    @include styles.style-text(14px);
    background-color: styles.$light-brown;
    padding: 15px 0;
    border-radius: 20px;
  }
}