@use "../../../app" as styles;

.wrapper {
  display: flex;
  column-gap: 8px;
  align-items: center;

  & .point {
    @each $priority, $color in styles.$priorities {
      &_#{$priority} {
        width: 8px;
        height: 8px;
        border-radius: 8px;
        background-color: $color;
      }
    }
  }

  & .text {
    @include styles.style-text(14px, 600);
  }
}